
# EXESUFFIX is passed when cross-compiling Win32 on Linux
ifeq ($(OS),Windows_NT)
  EXESUFFIX 		:= .exe
else
  EXESUFFIX 		?=
endif

TPUT_STATUS := $(shell which tput > /dev/null; echo $$?)

ifeq ($(TPUT_STATUS),0)
GREEN := $(shell tput setaf 2)
RED := $(shell tput setaf 1)
MAGENTA := $(shell tput setaf 5)
RESET    := $(shell tput sgr0)
else
GREEN :=
MAGENTA :=
RESET :=
endif


# Rules for building suites
FRAMEWORK_DIR ?= ../../framework
SOURCES = $(wildcard $(FRAMEWORK_DIR)/*.c)
CFLAGS = -I$(FRAMEWORK_DIR)  

MACHINE = z88dk-ticks$(EXESUFFIX) -w 30

define compile
	zcc +test -vn $(1) $(CFLAGS) $^ -o $@ -lndos $(2)
endef

define runtest
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting test $(MAGENTA)"
	@$(MACHINE) $@ || { echo "$(RED)" `date +%H:%M:%S` " Test failure $(RESET)" ; exit 1; }
	@echo "$(GREEN)" `date +%H:%M:%S` " Test completed $(RESET)"
endef

define compile_8080
	zcc +test -vn -clib=8080 $(1) $(CFLAGS) $^ -o $@ -lndos $(2) -m
endef

define compile_gbz80
	zcc +test -vn -clib=gbz80 $(1) $(CFLAGS) $^ -o $@ -lndos $(2) -m
endef

define compile_rcm
	zcc +test -vn -clib=rabbit $(1) $(CFLAGS) $^ -o $@ -lndos $(2) -m
endef

define compile_z80n
	zcc +test -vn -clib=z80n $(1) $(CFLAGS) $^ -o $@ -lndos $(2) -m
endef

define runtest_rcm
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting Rabbit test $(MAGENTA)"
	@$(MACHINE) -mr2k $@ || { echo "$(RED)" `date +%H:%M:%S` " Test failure $(RESET)" ; exit 1; }
	@echo "$(GREEN)" `date +%H:%M:%S` " Rabbit test completed $(RESET)"
endef

define runtest_z80n
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting Z80N test $(MAGENTA)"
	@$(MACHINE) -mz80n $@ || { echo "$(RED)" `date +%H:%M:%S` " Test failure $(RESET)" ; exit 1; }
	@echo "$(GREEN)" `date +%H:%M:%S` " Z80N test completed $(RESET)"
endef

define runtest_8080
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting 8080 test $(MAGENTA)"
	@$(MACHINE) -m8080 $@ || { echo "$(RED)" `date +%H:%M:%S` " Test failure $(RESET)" ; exit 1; }
	@echo "$(GREEN)" `date +%H:%M:%S` " 8080 test completed $(RESET)"
endef

define runtest_gbz80
	@echo "$(GREEN)" `date +%H:%M:%S` " Starting gbz80 test $(MAGENTA)"
	@$(MACHINE) -mgbz80 $@ || { echo "$(RED)" `date +%H:%M:%S` " Test failure $(RESET)" ; exit 1; }
	@echo "$(GREEN)" `date +%H:%M:%S` " gbz80 test completed $(RESET)"
endef
